#Discord Voice (supports recording via sinks)
py-cord[voice]

aio-pika
pyyaml

# Envinroment file .env
python-dotenv



# Lets keep our code clean
black
pylint

#openai and speech recognition
openai
faster_whisper
speechrecognition

# torch cpu only support
#--extra-index-url https://download.pytorch.org/whl/cpu
#torch 

